---
import Main from "@layouts/main.astro";
---

<Main title="Services">
    <section class="relative mx-auto container">
        <img class="w-auto" src="/assets/prices.webp" alt="Prices">
    </section>
</Main>